<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Blog" />

<f:section name="Main">
<div class="blog-section">
    <div class="blog-list">

        <div class="blog-list__header" style="text-align:left;">
            <span class="blog-list__category-badge">
                <f:translate key="blog.category.prefix" extensionName="Aisteablog" />
            </span>
            <h1 class="blog-list__category-title">{category.title}</h1>
            <f:if condition="{category.description}">
                <p class="blog-list__category-desc">{category.description}</p>
            </f:if>
            <f:link.action action="list" class="blog-list__back">
                <f:translate key="blog.backToList" extensionName="Aisteablog" />
            </f:link.action>
        </div>

        <f:render partial="Post/CategoriesNav" arguments="{categories: categories, activeCategoryUid: category.uid}" />

        <f:render partial="Post/Grid" arguments="{paginator: paginator, emptyKey: 'blog.category.empty'}" />

        <f:if condition="{pagination.lastPageNumber} > 1">
            <f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
        </f:if>

    </div>
</div>
</f:section>

</html>
