<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:e="http://typo3.org/ns/TYPO3/CMS/Extbase/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Blog" />

<f:section name="Main">
    <div class="blog-list">

        <f:if condition="{categories}">
            <nav class="blog-categories" aria-label="Kategorien">
                <ul class="blog-categories__list">
                    <f:for each="{categories}" as="category">
                        <li class="blog-categories__item">
                            <f:link.action
                                action="category"
                                arguments="{category: category}"
                                class="blog-categories__link"
                            >{category.title}</f:link.action>
                        </li>
                    </f:for>
                </ul>
            </nav>
        </f:if>

        <div class="blog-list__grid">
            <f:for each="{paginator.paginatedItems}" as="post" iteration="i">
                <f:render partial="Post/Card" arguments="{post: post}" />
            </f:for>
        </div>

        <f:if condition="{pagination.lastPageNumber} > 1">
            <f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
        </f:if>

    </div>
</f:section>

</html>
