<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Blog" />

<f:section name="Main">
<div class="blog-section">
    <div class="blog-list">
        <f:render partial="Post/CategoriesNav" arguments="{categories: categories, activeCategoryUid: 0}" />

        <f:render partial="Post/Grid" arguments="{paginator: paginator, emptyKey: 'blog.empty'}" />

        <f:if condition="{pagination.lastPageNumber} > 1">
            <f:render partial="Pagination" arguments="{pagination: pagination, paginator: paginator}" />
        </f:if>

    </div>
</div>
</f:section>

</html>
