<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Blog" />

<f:section name="Main">
<div class="blog-section">

    <f:render partial="Post/Hero" arguments="{post: post}" />

    <div class="blog-post__body-wrap">
        <div class="blog-post__body-inner">

            <f:if condition="{post.teaser}">
                <p class="blog-post__teaser">{post.teaser}</p>
            </f:if>

            <div class="blog-post__content" data-clean-content="1">
                <f:format.html>{post.bodytext}</f:format.html>
            </div>

            <f:render partial="Post/Share" arguments="{post: post, shareUrl: shareUrl}" />

            <div class="blog-post__footer">
                <f:if condition="{post.tags}">
                    <div class="blog-post__tags">
                        <f:for each="{post.tags}" as="tag">
                            <span class="blog-post__tag">{tag.title}</span>
                        </f:for>
                    </div>
                </f:if>
                <f:link.action action="list" class="blog-post__back">
                    <f:translate key="blog.backToList" extensionName="Aisteablog" />
                </f:link.action>
            </div>

        </div>
    </div>

<f:render partial="Post/Sidebar" arguments="{categories: categories}" />

</div>
</f:section>

</html>
