<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="blog-pagination" role="navigation">
    <ul class="blog-pagination__list">

        <f:if condition="{pagination.previousPageNumber}">
            <li class="blog-pagination__item blog-pagination__item--prev">
                <f:link.action
                    arguments="{currentPage: pagination.previousPageNumber}"
                    class="blog-pagination__link"
                    aria-label="{f:translate(key: 'pagination.previous', extensionName: 'Aisteablog')}"
                >&#8592;</f:link.action>
            </li>
        </f:if>

        <f:for each="{pagination.allPageNumbers}" as="page">
            <li class="blog-pagination__item">
                <f:link.action
                    arguments="{currentPage: page}"
                    class="blog-pagination__link{f:if(condition: '{page} == {paginator.currentPageNumber}', then: ' blog-pagination__link--active')}"
                    aria-current="{f:if(condition: '{page} == {paginator.currentPageNumber}', then: 'page')}"
                    aria-label="{f:translate(key: 'pagination.page', extensionName: 'Aisteablog')} {page}"
                >{page}</f:link.action>
            </li>
        </f:for>

        <f:if condition="{pagination.nextPageNumber}">
            <li class="blog-pagination__item blog-pagination__item--next">
                <f:link.action
                    arguments="{currentPage: pagination.nextPageNumber}"
                    class="blog-pagination__link"
                    aria-label="{f:translate(key: 'pagination.next', extensionName: 'Aisteablog')}"
                >&#8594;</f:link.action>
            </li>
        </f:if>

    </ul>
</div>

</html>
