<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:blog="http://typo3.org/ns/Aistea/Aisteablog/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="blog-meta">

    <f:if condition="{post.publishDate}">
        <time class="blog-meta__date" datetime="{post.publishDate -> f:format.date(format: 'Y-m-d')}">
            <f:format.date format="d. F Y">{post.publishDate}</f:format.date>
        </time>
    </f:if>

    <f:if condition="{post.author}">
        <span class="blog-meta__separator" aria-hidden="true">&middot;</span>
        <span class="blog-meta__author">{post.author}</span>
    </f:if>

    <f:if condition="{post.bodytext}">
        <span class="blog-meta__separator" aria-hidden="true">&middot;</span>
        <span class="blog-meta__reading-time">
            <blog:readingTime text="{post.bodytext}" />
            <f:translate key="blog.readingTime" extensionName="Aisteablog" />
        </span>
    </f:if>

    <f:if condition="{showViews} && {post.viewCount}">
        <span class="blog-meta__separator" aria-hidden="true">&middot;</span>
        <span class="blog-meta__views">
            <svg class="blog-meta__views-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M10 4.5C5.5 4.5 1.7 7.4 0 10c1.7 2.6 5.5 5.5 10 5.5S18.3 12.6 20 10c-1.7-2.6-5.5-5.5-10-5.5zm0 9a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7zm0-5.5a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
            </svg>
            {post.viewCount}
            <f:translate key="blog.viewCount" extensionName="Aisteablog" />
        </span>
    </f:if>

</div>

</html>
