<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="blog-post-nav" role="navigation">
    <div class="blog-post-nav__inner">

        <div class="blog-post-nav__prev">
            <f:if condition="{prevPost}">
                <f:link.action action="show" arguments="{post: prevPost}" class="blog-post-nav__link blog-post-nav__link--prev">
                    <span class="blog-post-nav__label">
                        <f:translate key="post.navigation.prev" extensionName="Aisteablog" />
                    </span>
                    <span class="blog-post-nav__title">{prevPost.title}</span>
                </f:link.action>
            </f:if>
        </div>

        <div class="blog-post-nav__next">
            <f:if condition="{nextPost}">
                <f:link.action action="show" arguments="{post: nextPost}" class="blog-post-nav__link blog-post-nav__link--next">
                    <span class="blog-post-nav__label">
                        <f:translate key="post.navigation.next" extensionName="Aisteablog" />
                    </span>
                    <span class="blog-post-nav__title">{nextPost.title}</span>
                </f:link.action>
            </f:if>
        </div>

    </div>
</div>

</html>
