<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{categories}">
    <div class="blog-post__sidebar">
        <div class="blog-post__sidebar-inner">
            <p class="blog-post__sidebar-title">
                <f:translate key="blog.furtherCategories" extensionName="Aisteablog" />
            </p>
            <ul class="blog-post__sidebar-cats">
                <f:for each="{categories}" as="sidebarCategory">
                    <li>
                        <f:link.action action="category" arguments="{category: sidebarCategory}" class="blog-post__sidebar-cat-link">
                            {sidebarCategory.title}
                        </f:link.action>
                    </li>
                </f:for>
            </ul>
        </div>
    </div>
</f:if>

</html>
